@model MVC.Models.About

@{
    ViewBag.Title = "About Sooners Football";
}
<h2>About Sooners Football.</h2>
<h3>About the University of Oklahoma Football Program</h3>

<p>OU Football is coached by <b>@Model.HeadCoach</b>. The sooners have a bowl record of <b>@Model.BowlRecord</b> and have <b>@Model.NationalTitles</b> national titles.</p>
